#main
  .contact-title
    margin: 0
    font-size: 1.15em
    color: $black
    font-weight: 100

  .email-form
    margin: 1.5em 0

    input.valid-input-value,
    input.invalid-input-value
      transition: 0.1s all ease-in-out

      &:focus
        box-shadow: 0 0

      ~ p
        margin: 0

    input.valid-input-value
      border: 1px solid green

    input.invalid-input-value
      border: 1px solid red
