.main-contact
  .contact-title
    margin: 0
    font-size: 16px
    color: $black
    font-weight: 100
    font-family: sans-serif

  .email-form
    margin: 1.5em 0

  .incorrect-email
    position: fixed
    width: 37%
    height: 200px
    background: #333
    opacity: 0.2
    color: #000
    animation: slideDown 0.3s ease-in-out forwards

    p
      margin: 0 auto
      text-align: center


@keyframes slideDown
  0%
    opacity: 0
    top: 0

  100%
    opacity: 0.2
    top: 20%
