.post
  padding: 2em 3em 0 3em
  background: $white
  border: 1px solid $post_border
  margin-bottom: 3em
  position: relative

  .article-body
    display: flex

    a.image
      margin-right: 60px
      max-width: 50%

    p
      max-width: 60%
