{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    let disqus_config = function () {
      this.page.url = "{{ site.baseurl }}{{ page.url }}";
      this.page.identifier = '{{ page.identifier }}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    let d = document, s = d.createElement('script');

    s.src = '//webconferences.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
