<footer class="footer-aside">
  <ul class="icons">
    <li><a href="https://twitter.com/ArtemGurzhii" class="twitter"><img src="{{ "/assets/img/min/twitter-icon.svg" | prepend: site.baseurl }}" alt="social icon twiiter conferences programming" /></a></li>
    <li><a href="https://github.com/artemgurzhii" class="github"><img src="{{ "/assets/img/min/github-icon.svg" | prepend: site.baseurl }}" alt="social icon github conferences programming" /></a></li>
    <li><a href="https://facebook.com/artem.gurzhii" class="facebook"><img src="{{ "/assets/img/min/facebook-icon.svg" | prepend: site.baseurl }}" alt="social icon facebook conferences programming" /></a></li>
  </ul>
  <p class="copyright">Copyright &copy; {{ site.year }} <a href="https://github.com/artemgurzhii"> {{ site.author }} </a></p>
</footer>
