<footer class="footer-aside">
  <ul class="icons">
    <li><a href="{{ site.twitter }}" class="twitter"><img src="{{ "/assets/img/min/twitter-icon.svg" | prepend: site.baseurl }}" alt="{{ site.social_keywords }} twiiter" /></a></li>
    <li><a href="{{ site.github }}" class="github"><img src="{{ "/assets/img/min/github-icon.svg" | prepend: site.baseurl }}" alt="{{ site.social_keywords }} github" /></a></li>
    <li><a href="{{ site.facebook }}" class="facebook"><img src="{{ "/assets/img/min/facebook-icon.svg" | prepend: site.baseurl }}" alt="{{ site.social_keywords }} facebook" /></a></li>
  </ul>
  <p class="footer-copyright">Copyright &copy; {{ site.year }} <a href="{{ site.github }}"> {{ site.author }} </a></p>
  <p class="footer-rss">You can also subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</footer>
