<!-- Header -->
<header id="header">

  <!-- title -->
  <h1 class="page-heading"><a href="{{ site.url }}">{{ site.title }}</a></h1>

  <!-- left navbar -->
	<nav class="left-links">
    <ul>
      <li><a href="/front-end">Front-End</a></li>
      <li><a href="/back-end">Back-End</a></li>
      <li><a href="/backops">Feugiat</a></li>
    </ul>
  </nav>

  <!-- right navbar -->
  <nav class="right-main">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
      <li class="search">
        <a href="#search"><i class="fa-search"></i></a>
        <form class="search-form" method="get" action="#">
          <input type="text" name="query" class="typeahead" placeholder="Search" tabindex="1" autocomplete="on"/>
        </form>
      </li>
    </ul>
  </nav>

</header>
<!--
<section class="burger-menu">
  <section>
    <form class="search" method="get" action="#">
      <input type="text" name="query" placeholder="Search" />
    </form>
  </section>
  <section>
    <ul class="links">
      <li>
        <a href="#">
          <h3>Acknowledgement</h3>
        </a>
      </li>
    </ul>
  </section>
</section>
-->
