<header id="header">
  <h1 class="page-heading"><a href="{{ site.url }}">{{ site.title }}</a></h1>

  <!-- left navbar -->
	<nav class="header-left">
    <ul>
      <li><a href="/front-end">Front-End</a></li>
      <li><a href="/back-end">Back-End</a></li>
    </ul>
  </nav>
  <!-- left navbar -->

  <!-- right navbar -->
  <nav class="header-right">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </nav>
  <!-- right navbar -->
</header>
