<section>
  <div class="mini-posts">
    {% for post in site.posts limit:5 %}
    <article class="mini-post">
      <header>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <time class="published" datetime="{{post.date | date: "%F" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        <a href="/{{ post.category_link }}" class="author">{{ post.category }}</a>
      </header>
      {% if post.image %}
        <a href="{{ post.url }}" class="image"><img src="{{post.image}}" alt=""/></a>
      {% endif %}
    </article>
    {% endfor %}
  </div>
</section>
