{% if paginator.total_pages > 1 %}
  <ul class="actions pagination">

    {% if paginator.previous_page %}

      <li><a href="{{ paginator.previous_page_path }}" class="button big previous">{{ site.prev_page }}</a></li>

    {% else if %}

      <li><a href="" class="button big previous disable">{{ site.prev_page }}</a></li>

    {% endif %}

      <li>{{ paginator.page }} / {{ paginator.total_pages }}</li>

    {% if paginator.next_page %}

      <li><a href="{{ paginator.next_page_path }}" class="button big next">{{ site.next_page }}</a></li>

    {% else if %}

      <li><a href="" class="button big previous disable">{{ site.next_page }}</a></li>

    {% endif %}

  </ul>
{% endif %}
