{% if paginator.total_pages > 1 %}
  <ul class="actions pagination">

    {% if paginator.previous_page %}
      <li><a class="button big previous" href="{{ paginator.previous_page_path }}">{{ site.prev_page }}</a></li>
    {% else if %}
      <li><a class="button big previous disable" href="#">{{ site.prev_page }}</a></li>
    {% endif %}

      <li>{{ paginator.page }} / {{ paginator.total_pages }}</li>

    {% if paginator.next_page %}
      <li><a class="button big next" href="{{ paginator.next_page_path }}">{{ site.next_page }}</a></li>
    {% else if %}
      <li><a class="button big previous disable" href="#">{{ site.next_page }}</a></li>
    {% endif %}

  </ul>
{% endif %}
