<section>
  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <article>
        <header>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <time datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%F" }}</time>
          <a href="/{{ post.category | downcase }}">{{ post.category }}</a>
        </header>
        <a href="{{ post.url }}">
          {% if post.img_extension %}
            <img src="{{ "/assets/img/min/TAG.EXT" | replace: "TAG", post.tags[0] | replace: "EXT", post.img_extension | prepend: site.baseurl }}" alt="{{ post.tags | join="" }}"/>
          {% else %}
            <img src="{{ "/assets/img/min/TAG.svg" | replace: "TAG", post.tags[1] | prepend: site.baseurl }}" alt="{{ post.tags | join="" }}"/>
          {% endif %}
        </a>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
