<section class="sidebar-posts-all">
  {% for post in site.posts limit:5 %}
    {% assign curr_date = site.time | date: "%F" %}
    {% assign post_date = post.date | date: "%F" %}
    {% if curr_date < post_date %}
    <article class="sidebar-post">
      <a href="{{ post.url }}" class="image">
        {% if post.img_extension %}
          <img src="{{ "/assets/img/min/TAG.EXT" | replace: "TAG", post.tags[0] | replace: "EXT", post.img_extension | prepend: site.baseurl }}" alt="{{ post.tags | join="" }}"/>
        {% else %}
          <img src="{{ "/assets/img/min/TAG.svg" | replace: "TAG", post.tags[1] | prepend: site.baseurl }}" alt="{{ post.tags | join="" }}"/>
        {% endif %}
      </a>
      <footer>
        <h3 class="sidebar-conf-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <time class="published-time" datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%F" }}</time>
        <a class="sidebar-post-category" href="/{{ post.category | downcase }}">{{ post.category }}</a>
      </footer>
    </article>
    {% endif %}
  {% endfor %}
</section>
