<section class="sidebar-posts-all">

  {% include sidebar/sidebar_header.html %}

  {% for post in site.posts reversed %}
    {% assign curr_date = site.time | date: "%F" %}
    {% assign post_date = post.date | date: "%F" %}
    {% if curr_date < post_date %}
      {% if forloop.index == 6 %}
        {% break %}
      {% endif %}

    <article class="sidebar-post">
      {% include sidebar/sidebar_body.html %}
      {% include sidebar/sidebar_footer.html %}
    </article>

    {% endif %}
  {% endfor %}

</section>
