table
  margin-top: 3em

  &:first-of-type
    margin-top: 0

  td
    width: 50%
    color: $black

  caption
    font-size: 1.1em
    font-weight: 900
    margin-bottom: 1em

  tr:nth-child(odd)
    background-color: $post_page_background_even!important

  tr:nth-child(even)
    background-color: $post_page_background_odd!important

#main
  h2
    font-size: 1.5em
    margin: 3em 0 1em 0
    border: 1px solid $post_page_border
    border-radius: 5px
    text-align: center

    &:hover
      background: $post_page_background_even

.list-unstyled
  padding-left: 0
  list-style: none
