<footer class="article-footer">

  <ul class="actions">
    <li><a href="{{ post.url }}" class="button big">{{ site.read_post }}</a></li>
  </ul>
  <ul class="post-tags-all">
    {% for tag in post.tags limit:5 %}
      {% assign title = post.title | downcase %}
      {% if tag == title %}
        <li class="post-tag"><a href="{{ post.url }}">{{ tag }}</a></li>
      {% else %}
        <li class="post-tag"><a href="/{{ tag }}">{{ tag }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

</footer>
