<p>
  <a href="http://www.ng-conf.org">
    <img src="/assets/img/min/ng-conf.svg" alt="angular javascript conferences programming" width="500px">
  </a>
</p>

<ol>
  <li>Location - <strong>Salt Lake City, UT</strong></li>
  <li>Price - <strong>$1200</strong></li>
  <li>Date - <strong>MAY 4TH - 6TH 2016</strong></li>
</ol>

<h2 id="speakers">SPEAKERS</h2>
<table class="speakers">
  <caption>ALEX CASTILLO</caption>
  <tbody><tr>
    <td>Alex is a software engineer at GrubHub and specializes in enterprise single-page applications. He is also the creator of AngularCSS and AngularBreakpoint.</td>
  </tr>
</tbody></table>

<h2 id="schedule">SCHEDULE</h2>
<table>
  <caption>TUESDAY MAY 3rd</caption>
  <tbody><tr>
    <td>9:00 AM - 5:00 PM</td>
    <td>Optional Pre-Conf Workshop Day</td>
  </tr>
  <tr>
    <td>5:00 PM - 9:00 PM</td>
    <td>Registration</td>
  </tr>
</tbody></table>

<table>
  <caption>WEDNESDAY May 4th</caption>
  <tbody><tr>
    <td>7:30 AM - 9:00 AM</td>
    <td>Registration</td>
  </tr>
  <tr>
    <td>8:00 AM</td>
    <td>Breakfast</td>
  </tr>
  <tr>
    <td>9:00 AM</td>
    <td>Conference Welcome</td>
  </tr>
  <tr>
    <td>9:10 AM</td>
    <td>Keynote</td>
  </tr>
  <tr>
    <td>10:00 AM - 12:30 PM</td>
    <td>Sessions</td>
  </tr>
  <tr>
    <td>12:30 PM - 2:00 PM</td>
    <td>Lunch</td>
  </tr>
  <tr>
    <td>2:00 PM - 6:00 PM</td>
    <td>Sessions</td>
  </tr>
  <tr>
    <td>7:00 PM - 11:00 PM</td>
    <td>“May the 4th be with you” party</td>
  </tr>
</tbody></table>

<table>
  <caption>THURSDAY MAY 5th</caption>
  <tbody><tr>
    <td>8:00 AM</td>
    <td>Breakfast</td>
  </tr>
  <tr>
    <td>9:00 AM - 6:00 PM</td>
    <td>Un-conference “Fair” Day</td>
  </tr>
  <tr>
    <td>7:00 PM - 11:00 PM</td>
    <td>Game Night</td>
  </tr>
</tbody></table>

<table>
  <caption>FRIDAY MAY 6th</caption>
  <tbody><tr>
    <td>8:00 AM</td>
    <td>Breakfast</td>
  </tr>
  <tr>
    <td>9:00 AM</td>
    <td>Keynote</td>
  </tr>
  <tr>
    <td>10:00 AM - 12:30 PM</td>
    <td>Sessions</td>
  </tr>
  <tr>
    <td>12:30 PM - 2:00 PM</td>
    <td>Lunch</td>
  </tr>
  <tr>
    <td>2:00 PM - 6:00 PM</td>
    <td>Sessions</td>
  </tr>
</tbody></table>
<table>
  <caption>SATURDAY MAY 7th</caption>
  <tbody><tr>
    <td>8:00 AM - 10:00 PM</td>
    <td>Amusement Park Day</td>
  </tr>
</tbody></table>
