@media (max-width: 991px)
  #wrapper
    padding: 2em

@media (max-width: 881px)
  #wrapper
    padding: 1.5em

@media (max-width: 768px)
  #wrapper
    flex-direction: column-reverse
    padding: 1.5em
