<!DOCTYPE HTML>
<html>
  <head>
    {% include head.html %}
  </head>
	<body>
			<div id="wrapper">
				{% include header.html %}
        <div id="main">
          <p>
            Contact page
          </p>
          {{ content }}

        </div>
        <section id="sidebar">
          {% include sidebar-header.html %}
          {% include sidebar-post.html %}
          {% include sidebar-about.html %}
          {% include sidebar-footer.html %}
        </section>

			</div>
		{% include scripts.html %}
	</body>
</html>
