<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}

      <main id="main">
        {{ content }}

        {% include pagination.html %}
      </main>

      <aside id="sidebar">
        {% include sidebar-header.html %}
        {% include sidebar-post.html %}
        {% include footer.html %}
      </aside>

    </div>
    {% include scripts.html %}
  </body>
</html>
