<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}

      <main id="main" class="post-main-page">

        {{ content }}

        <div class="disqus-chat">
          {% include disqus.html disqus_identifier=page.disqus_identifier %}
        </div>

      </main>

      <aside id="sidebar">
        {% include sidebar.html %}
        {% include footer.html %}
      </aside>

    </div>
    {% include scripts.html %}
  </body>
</html>
