.footer-aside .icons
  display: flex
  justify-content: center
  align-items: center
  margin: 2em 0 3em 0

  img
    width: 30px

.footer-rss
  text-align: center
  font: 400 1em "Raleway", Helvetica, sans-serif

.footer-copyright
  font: 400 0.8em "Raleway", Helvetica, sans-serif
  letter-spacing: 0.25em
  text-align: center
  text-transform: uppercase

.footer-aside a
  color: $link_color_hover
