.footer-aside .icons
  text-align: center

  img
    width: 30px

.footer-aside .copyright
  font: 400 0.8em "Raleway", Helvetica, sans-serif
  letter-spacing: 0.25em
  text-align: center
  text-transform: uppercase

  a
    color: $icons_color_hover!important
